<hr>

<!--<div *ngStyle="{'background-color': nombre ? 'green' : 'red'}"></div> -->

<p [style.background]="p1 ? 'green' : 'transparent'"> 1- {{pregunta1}}</p>

<ul>
    <li><input type="radio" name="p1" value="mike" />Mike</li>
    <li><input type="radio" name="p1" value="john"/>John</li>
    <li><input type="radio" name="p1" [(ngModel)]="p1" value="c1" />{{nombre}}</li>
</ul>

<p [style.background]="p2 ? 'green' : 'transparent'"> 2- {{pregunta2}}</p>

<ul>
    <li><input type="radio" name="p2" value="pochie"/>Pochie</li>
    <li><input type="radio" name="p2" value="rufo"/>Rufo</li>
    <li> <input type="radio" name="p2" [(ngModel)]="p2" value="c2" />{{perro}}</li>
</ul>

<p [style.background]="p3 ? 'green' : 'transparent'"> 3- {{pregunta3}}</p>

<ul>
    <li><input type="radio" name="p3" [(ngModel)]="p3" value="c3"/>{{edad}}</li>
    <li><input type="radio" name="p3" value="cuarentaDos"/>42</li>
    <li> <input type="radio" name="p3" value="diezOcho" />18</li>
</ul>

<div *ngIf="p1 && p2 && p3">
    Enhorabuena has acertado todas las preguntas!!
</div>



      